

<div class ="homepage container">

<h2>Welcome</h2>


 <%=link_to 'Profile Page',user_path(current_user)%><br/>

<!-- Shows all the users and respective postings -->
<%@users.each_with_index do |user,index|%>
  <%=index+1%>. <%=user.email%><br/>

  <!-- YOU HAVE AN ERROR HERE ......TRYING TO DIRECT THE INFIVIDUAL ID TO INDIVIDUAL SHOW PAGE ...DOESNT WORK
   -->
    <%=link_to 'View',user_path(user)%><br/>
<%end%>

</div>