.container{	padding-top: 20px;	}

.homepage	{	margin-top: 50px;	}

.header
{
	background-color: lightblue;
	height: 4.5em;
	padding:8px;
	padding-right: 10px;
	padding-left:30px;
	position:relative;
}

.sign-out-button
{
	position: absolute;
	right:10%;
	top:30%;

}

.header p
{
	font-size: 30px;
	position: absolute;
	left:5%;
}

.float-left
{	float: left;	}

.float-right
{	float: right;	}

.top-margin
{	margin-top: 20px;	}

.thin-border-box
{
	border:1px solid lightgrey;
	padding:20px;
}

.align-right
{	text-align: right;	}

.align-center
{	text-align: center;	}

.button-box
{
	width:100px;
	height:35px;
	background-color: rgb(211,211,211,0.3);
	text-align: center;
	padding-top: 5px;
	border:0.5px solid black;

}

.inline-display
{	display:inline-block;	}

.extra-padding
{	padding:50px;	}

.lightgrey-background
{	background-color: rgb(211,211,211,0.5);	}

.lightblue-background
{	background-color: lightblue;	}

.lightpink-background
{
	background-color: pink;
}

.title-text
{
	font-size:25px;
	padding-right: 10px;
}

.text-align-center
{
	text-align: center;
}

.profile-picture img
{
	object-fit: cover;
	border:1px solid black;
	border-radius: 50%;
	height:200px;
	width:200px;
}

.thumbnail img
{
	object-fit: cover;
	border:1px solid black;
	border-radius: 50%;
	height:50px;
	width:50px;
	position: absolute;
	right:30px;


}




