.container{
	padding-top: 20px;
}

.container-fluid{

}

.sign-out-button{
	float: right;
	display: inline-block;
}

.homepage
{
	margin-top: 50px;
}

#header
{
	background-color: lightblue;
	height: 45px;
	padding:8px;
	padding-right: 10px;
	padding-left:30px;
}

.logo
{
	float: left;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.top-margin
{
	margin-top: 20px;
}

.thin-border-box
{
	border:1px solid lightgrey;
	padding:20px;
}

.align-right
{
	text-align: right;
}

.align-center
{
	text-align: center;
}

.button-box
{
	width:100px;
	height:35px;
	background-color: rgb(211,211,211,0.3);
	text-align: center;
	padding-top: 5px;
	border:0.5px solid black;

}

.inline-display
{
	display:inline-block;
}

.extra-padding
{
	padding:50px;
}